<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
   <servlet-name>tree</servlet-name>
   <servlet-class>net.flowas.projectunit.gwt.server.TreeData</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>tree</servlet-name>
   <url-pattern>/gwtunit/tree</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gwt_unit.html</welcome-file>
  </welcome-file-list>

</web-app>
